html,body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map{
    height:100%;
}

.container{
    width: 100%;
    height: 100%;
}

#title{
    font-size: 20px;
    text-align: center;
}

#location-listing-container{
    width: 20%;
    height: 80%;
    float: left;
}

#map-view{
    width: 80%;
    height: 80%;
    float: left;
}